.Release .header a{
  width: 20%;
  margin-left: 3%;
}
.Release .header p {
width: 44%;
}
.Release textarea{
  margin-top: 15%;
  padding: 5%;
  width: 100%;
  border: 0;
  font-size: 0.8em;
  resize: none;
}
.Release .pic{
  width: 90%;
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  border-bottom: 1px solid #f2f2f2;
}
.Release .text{
  position: relative;
}
.Release .text p{
  position: absolute;
  right: 5%;
  font-size: 0.8em;
  color: #ccc;
}
.ant-upload.ant-upload-select-picture-card{
  width: 14%;
  height: 14%;
}
.ant-upload-select-picture-card i {
  font-size: 34px;
  color: #ccc;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}
.ant-upload-list-picture-card .ant-upload-list-item{
 width: 30%;
  height: 90%;
}
.Release .pic span:nth-child(2){
  color: #ccc;
  font-size: 0.8em;
  padding-top: 6%;
  width: 130%;
  display: block;
}
.Release .addss,.Release .jifen{
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  padding: 3% 2%;
}
.Release .addss img{
  width: 5%;
}
.Release .addss span{
  font-size: 0.8em;
  color: #ccc;
}
.Release .jifen p{
  width: 40%;
  margin: 0;
  font-size: 0.9em;
}
.Release .jifen p span{
  padding-left: 5%;
  font-size: 0.9em;
  color: #ccc;
}
.fabu{
  width: 90%;
  margin: 0 auto;
  margin-top: 30%;
}
.fabu img{
  width: 90%;
  margin: 0 auto;
  display: block;
}
.fabu p{
  width: 35%;
  font-size: 0.6em;
  color: #d70303;
  margin: 2% auto;
}
.fabu span{
  display: block;
  width: 45%;
  font-size: 0.6em;
  color: #ccc;
  margin: 2% auto;
}
.pie{
  width: 100%;
  margin: 0 auto;
  background-color: #ececec;
  border-radius: 10px;
}
.pie p{
  width: 42%;
  margin: 0 auto;
  color: #e30303;
}
.pie div {
  background-color: #fff;
  width: 90%;
  border-radius: 5px;
  margin: 0 auto;
  border: 1px solid #fff;
}
.pie div input {
  display: block;
  outline: none;
  border: 0;
  width: 80%;
  border-radius: 5px;
  background-color:  #ececec;
  margin: 5% auto;
  font-size: 0.6em;
  line-height: 3;
  padding-left: 1%;
}
.pie div p{
  width: 100%;
  color: #e30303;
  font-size: 0.6em;
  padding: 3% 1%
}
.pie button{
  width: 50%;
  background-color: #ececec;
  outline: none;
  border: 0;
  font-size: 0.8em;
  line-height: 2
}
.pie .i{
  border-right: 1px solid #ccc;
  color: #e30303;
}
