.settings-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.settings-wrap .header a {
  width: 8%;
  height: 4%;
  padding: 4% 0% 0 3%
}
.settings-wrap .header a img:nth-child(1){
  width: 100%;
}
.settings-wrap .header p{
  line-height: 3;
  padding: 0;
  width: 27%;
  margin: 0 auto;
}
.settings-wrap p{
  margin:  0
}
.settings-wrap>div:nth-child(2) {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    background-image: url('../images/bg.png');
}

.settings-wrap>div:nth-child(2)>img {
    background-size: 100%;
    width: 20%;
    margin: 3% 0 5% 0
}

.settings-wrap>div:nth-child(3) {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 3%;
}
.settings-wrap>div:nth-child(3)>span{
    display: flex;
    justify-content: space-between;
    padding: 3% 3%;
    font-size: 0.9em;
    border-bottom: 1px solid #f0eded;
}
.settings-wrap>a{
    width: 74%;
    align-self: center;
    text-align: center;
    color: #fff;
    padding: 4% 0;
    border-radius: 10px;
    margin-top: 20%;
    background-image: url('../images/bg.png');

}
